@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");

* {
  font-family: "Noto Kufi Arabic", sans-serif;
  /* border: 1px solid red; */
}

html {
  background-color: #434242 !important;
  color: #fff !important;
}

#countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .countdown-container {
    margin: 0 1rem;
  }
}

.countdown-container div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

@media (max-width: 768px) {
  .countdown-container div:first-child {
    width: 100%;
  }
}
.countdown-container img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .countdown-container {
    flex-direction: column;
  }
}

.countdown-container h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .countdown-container h2 {
    font-size: 1.5rem;
  }
}
